html,
body {
    background-color: #fff;
    font-family: noh-sori, sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
    scroll-behavior: smooth;
}

.home {
    width: 100%;
    z-index: 2;
}

h1 {
    z-index: 100;
    position: relative;
    position: absolute;
    font-family: noh-sori, sans-serif;
    font-size: 65px;
    top: 20%;
    left: 25%;
}

h2 {
    z-index: 100;
    position: relative;
    position: absolute;
    font-family: noh-sori, sans-serif;
    font-size: 20px;
    top: 33%;
    left: 23%;
}

.signin {
    background-color: #faedcd;
}